# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/
.envrc/

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Data folders (VERY IMPORTANT)
# =========================
data/

# =========================
# Model weights / large files
# =========================
# *.pth
*.pt
*.h5

# =========================
# Logs / outputs
# =========================
logs/
outputs/
*.log

# =========================
# Misc
# =========================
*.tmp
*.bak
